<!DOCTYPE html> 
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Minecraft MarketPlace</title>
    <link rel="stylesheet" href="../css/main.css">
    <link rel="stylesheet" href="../css/swipper.css">
</head>
<body>
    <div class="navbar">
        <div class="navbar-inter">
            <div class="minecoins-case cursor">
                <div class="minecoins-box">
                    <img src="../img/navbar/minecoins.png" alt="minecoins" class="minecoins-icon">
                    0
                </div>
                <img src="../img/navbar/plus.png" class="end-case">
            </div>
            <div class="search-case cursor">
                <div class="input-outline">
                    <input type="text" class="search-box" placeholder="Rechercher..">
                </div>
                <img src="../img/navbar/search.png" class="end-case">
            </div>
        </div>
    </div>
    <div class="content">
        <div class="sidebar">
            <div class="sidebar-extend cursor">
                <div class="sidebar-case"><img src="../img/sidebar/extend.png" class="sidebar-icon"></div>
            </div>
            <div class="sidebar-inter cursor">
                <div class="sidebar-case"><img src="../img/sidebar/market.png" class="sidebar-icon"></div>
                <span>Market</span>
            </div>
            <div class="sidebar-inter cursor">
                <div class="sidebar-case"><img src="../img/sidebar/lib.png" class="sidebar-icon"></div>
                <span>Library</span></div>
            <div class="sidebar-inter cursor">
                <div class="sidebar-case"><img src="../img/sidebar/addons.png" class="sidebar-icon"></div>
                <span>Addons</span></div>
            <div class="sidebar-inter cursor">
                <div class="sidebar-case"><img src="../img/sidebar/maps.png" class="sidebar-icon"></div>
                <span>Maps</span></div>
            <div class="sidebar-inter cursor">
                <div class="sidebar-case"><img src="../img/sidebar/fav.png" class="sidebar-icon"></div>
                <span>Favorites</span></div>
        </div>
        
        <div class="scrollable">
            <div class="head-line">
                <div class="main-content cursor">
                    <img src="../img/content/actions_and_stuff/logo.png" class="main-content-img">
                </div>
                <div class="second-content">
                    <div class="second-content-stuff cursor">
                        <img src="../img/content/fur_craft_add_on/logo.png" class="second-content-img">
                        <div class="second-content-text">
                            <div class="name">Fur Craft Add-On</div>
                            <div class="undername">
                                <div class="rate">
                                    ★ 4.6
                                    <img src="../img/types/addon.png" class="type-icon">
                                </div>
                                <div class="price">
                                    <img src="../img/navbar/minecoins.png" class="price-icon">
                                    990
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="second-content-stuff cursor">
                        <img src="../img/content/better_on_bedrock/logo.png" class="second-content-img">
                        <div class="second-content-text">
                            <div class="name">Better on Bedrock</div>
                            <div class="undername">
                                <div class="rate">
                                    ★ 4.7
                                    <img src="../img/types/world.png" class="type-icon">
                                </div>
                                <div class="price">
                                    <img src="../img/navbar/minecoins.png" class="price-icon">
                                    90
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="second-content-stuff cursor">
                        <img src="../img/content/farming/logo.png" class="second-content-img">
                        <div class="second-content-text">
                            <div class="name">FARMING</div>
                            <div class="undername">
                                <div class="rate">
                                    ★ 4.8
                                    <img src="../img/types/addon.png" class="type-icon">
                                </div>
                                <div class="price">
                                    <img src="../img/navbar/minecoins.png" class="price-icon">
                                    1510
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="second-content-stuff cursor">
                        <img src="../img/content/a_minecraft_movie_hero_pack/logo.png" class="second-content-img">
                        <div class="second-content-text">
                            <div class="name">A Minecraft Movie Hero Pack</div>
                            <div class="undername">
                                <div class="rate">
                                    ★ 4.6
                                    <img src="../img/types/world.png" class="type-icon">
                                </div>
                                <div class="price">
                                    Free
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="cath-buttons">
                <img src="../img/cath_buttons/worlds.png" class="cath-button cursor">
                <img src="../img/cath_buttons/skin_packs.png" class="cath-button cursor">
                <img src="../img/cath_buttons/textures.png" class="cath-button cursor">
                <img src="../img/cath_buttons/addons.png" class="cath-button cursor">
            </div>
            <div class="swipper"> 
                <span class="swipper-name">Popular First Purchase</span>
                <div class="swipper-base">
                    <img src="../img/swipper/arrowleft-none.png" class="swipper-arrow">
                    <div class="swipper-content">
                        <div class="content-group">
                            <div class="content-stuff cursor">
                                <img src="../img/content/realismcraft_1_6_1/logo.png" class="content-img">
                                <div class="content-text">
                                    <div class="name">Realism Craft</div>
                                    <div class="undername">
                                        <div class="rate">
                                            ★ 4.6
                                            <img src="../img/types/mashup.png" class="type-icon">
                                        </div>
                                        <div class="price">
                                            <img src="../img/navbar/minecoins.png" class="price-icon">
                                            1690
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="content-stuff cursor">
                                <img src="../img/content/mowzies_mobs_add_on_1_1/logo.png" class="content-img">
                                <div class="content-text">
                                    <div class="name">Mowzies Mobs add-on</div>
                                    <div class="undername">
                                        <div class="rate">
                                            ★ 4.8
                                            <img src="../img/types/addon.png" class="type-icon">
                                        </div>
                                        <div class="price">
                                            <img src="../img/navbar/minecoins.png" class="price-icon">
                                            1690
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="content-stuff cursor">
                                <img src="../img/content/naturalist_add_on_3_0/logo.png" class="content-img">
                                <div class="content-text">
                                    <div class="name">Naturalist add-on</div>
                                    <div class="undername">
                                        <div class="rate">
                                            ★ 4.8
                                            <img src="../img/types/addon.png" class="type-icon">
                                        </div>
                                        <div class="price">
                                            <img src="../img/navbar/minecoins.png" class="price-icon">
                                            1340
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="content-stuff cursor">
                                <img src="../img/content/farming/logo.png" class="content-img">
                                <div class="content-text">
                                    <div class="name">Farming</div>
                                    <div class="undername">
                                        <div class="rate">
                                            ★ 4.8
                                            <img src="../img/types/addon.png" class="type-icon">
                                        </div>
                                        <div class="price">
                                            <img src="../img/navbar/minecoins.png" class="price-icon">
                                            1510
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <img src="../img/swipper/arrowright.png" class="swipper-arrow cursor">
                </div>
            </div>
            <div class="swipper"> 
                <span class="swipper-name">New Worlds</span>
                <div class="swipper-base">
                    <img src="../img/swipper/arrowleft-none.png" class="swipper-arrow">
                    <div class="swipper-content">
                        <div class="content-group">
                            <div class="content-stuff cursor">
                                <img src="../img/content/better_on_bedrock/logo.png" class="content-img">
                                <div class="content-text">
                                    <div class="name">Better on Bedrock</div>
                                    <div class="undername">
                                        <div class="rate">
                                            ★ 4.7
                                            <img src="../img/types/world.png" class="type-icon">
                                        </div>
                                        <div class="price">
                                            <img src="../img/navbar/minecoins.png" class="price-icon">
                                            90
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="content-stuff cursor">
                                <img src="../img/content/monster_attack_nian/logo.png" class="content-img">
                                <div class="content-text">
                                    <div class="name">Monster Attack: Nian</div>
                                    <div class="undername">
                                        <div class="rate">
                                            ★ 4.5
                                            <img src="../img/types/world.png" class="type-icon">
                                        </div>
                                        <div class="price">
                                            <img src="../img/navbar/minecoins.png" class="price-icon">
                                            90
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="content-stuff cursor">
                                <img src="../img/content/a_minecraft_movie_dlc/logo.png" class="content-img">
                                <div class="content-text">
                                    <div class="name">A Minecraft Movie DLC</div>
                                    <div class="undername">
                                        <div class="rate">
                                            ★ 4.7
                                            <img src="../img/types/world.png" class="type-icon">
                                        </div>
                                        <div class="price">Free</div>
                                    </div>
                                </div>
                            </div>
                            <div class="content-stuff cursor">
                                <img src="../img/content/nerf_world/logo.png" class="content-img">
                                <div class="content-text">
                                    <div class="name">Nerf World</div>
                                    <div class="undername">
                                        <div class="rate">
                                            ★ 4.7
                                            <img src="../img/types/world.png" class="type-icon">
                                        </div>
                                        <div class="price">Free</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <img src="../img/swipper/arrowright.png" class="swipper-arrow cursor">
                </div>
            </div>
            <div class="swipper"> 
                <span class="swipper-name">New Skin Packs</span>
                <div class="swipper-base">
                    <img src="../img/swipper/arrowleft-none.png" class="swipper-arrow">
                    <div class="swipper-content">
                        <div class="content-group">
                            <div class="content-stuff cursor">
                                <img src="../img/content/100_days_civilization/logo.png" class="content-img">
                                <div class="content-text">
                                    <div class="name">100 Days Civilization</div>
                                    <div class="undername">
                                        <div class="rate">
                                            ★ 4.5
                                            <img src="../img/types/skin.png" class="type-icon">
                                        </div>
                                        <div class="price">
                                            <img src="../img/navbar/minecoins.png" class="price-icon">
                                            2380
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="content-stuff cursor">
                                <img src="../img/content/nerf_world/logo.png" class="content-img">
                                <div class="content-text">
                                    <div class="name">Nerf World</div>
                                    <div class="undername">
                                        <div class="rate">
                                            ★ 4.7
                                            <img src="../img/types/skin.png" class="type-icon">
                                        </div>
                                        <div class="price">Free</div>
                                    </div>
                                </div>
                            </div>
                            <div class="content-stuff cursor">
                                <img src="../img/content/actions_and_stuff/logo.png" class="content-img">
                                <div class="content-text">
                                    <div class="name">Actions and Stuff</div>
                                    <div class="undername">
                                        <div class="rate">
                                            ★ 4.9
                                            <img src="../img/types/skin.png" class="type-icon">
                                        </div>
                                        <div class="price">
                                            <img src="../img/navbar/minecoins.png" class="price-icon">
                                            1690
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="content-stuff cursor">
                                <img src="../img/content/a_minecraft_movie_hero_pack/logo.png" class="content-img">
                                <div class="content-text">
                                    <div class="name">A Minecraft Movie Hero Pack</div>
                                    <div class="undername">
                                        <div class="rate">
                                            ★ 4.7
                                            <img src="../img/types/skin.png" class="type-icon">
                                        </div>
                                        <div class="price">Free</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <img src="../img/swipper/arrowright.png" class="swipper-arrow cursor">
                </div>
            </div>
        </div>
    </div>
    <script src="../js/main.js"></script>
</body>
</html>
